{
  "presets": [
    ["env", {
      "useBuiltIns": "usage",
      "targets": {
        "node": "6.10"
      }
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    "add-module-exports",
    "transform-object-rest-spread"
  ]
}
